.main.dark-mode {
  --bgColor: #000000;
  --fontColor: #ffffff;
  --borderColor: rgba(255, 255, 255, 0.15);
}
.main {
  background-color: var(--bgColor);
  color: var(--fontColor);
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s color, 0.4s background;
  padding: clamp(2px, 4rem, 10vw);
  padding-top: 0;
}

.main .information {
  width: 60%;
  width: clamp(30rem, 70%, 80vw);
}

.main .tagline {
  font-size: clamp(10px, 10vw, 4rem);
}

.email-n-number {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.email-n-number span {
  margin: 8px 0;
}

.my-image {
  width: 300px;
  height: 300px;
  position: relative;
  background: url("../assets/my-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.my-image::before {
  content: "";
  transform: rotate(90deg);
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/splash.jpg");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: screen;
  z-index: 3;
}

.options {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 20px 0;
  border-top: 1px solid var(--borderColor);
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  left: 0;
  padding: 20px 100px;
  padding: 20px clamp(10px, 10vw, 4rem);
  border-top: 1px solid var(--borderColor);
}

footer a {
  margin-right: 40px;
  text-decoration: none;
  font-size: 16px;
  color: var(--fontColor);
  position: relative;
  font-family: "Montserrat", sans-serif;
}

footer a .line {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -10px;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
footer a:hover .line {
  background: #f35544;
  bottom: 0px;
  height: 2px;
}

footer div {
  margin-left: auto;
}

/* Mobile View */
@media screen and (max-width: 776px) {
  .my-image {
    display: none;
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 150px;
  }
}
