* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.fc-yellow {
  color: #e0a858;
}
.app {
  position: relative;
}

:root {
  --bgColor: #ffffff;
  --fontColor: #000000;
  --borderColor: rgba(0, 0, 0, 0.15);
}
